body{
    background-image: url(img1.jpg);
    background-size: 100%;

}
header h1{
    font-size: 80px;
    margin: 0;
}
header img{
    height: 200px;
    
}
header a, ul{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.3em;
    padding: 5px 10px;
    margin: 0;
    list-style: none;
}
header a:hover{
    border: 1px solid rgb(89, 10, 121);
    background-color:rgb(126, 20, 168) ;
}
#link{
    background-color: rgb(116, 122, 109);
    color: #fff;
    font-size: 1.1em;
    border-radius: 10px;
}
#cabeca{
    text-align: center;
    color: white;
    width: 1350px;
    position: absolute;
    padding: 0px 0 20px 0;
}